h1 {
  align-items: center; 
  text-align: center;  
  color: rgb(241, 241, 139); 
  font-size: 55px; 
  margin: 0; 
  padding: 0; 
}

p {
  margin: 0; 
  padding: 0; 
}

.meet {
  align-items: center; 
  text-align: center;  
  color: rgb(241, 241, 139); 
  font-size: 65px; 
  margin-top: 20px; 
  margin-bottom: 10px; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
}


.officer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin: 32px 0;
}

.officer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-items: center;
  margin: 32px 0;
}

.officer-card {
  background-color: rgb(167, 47, 47);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.11);
  padding: 24px 20px 18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
}

.officer-role {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(241, 241, 139);
  margin-bottom: 14px;
  text-align: center;
  line-height: 1.2;
}

.officer-pic {
  width: 350px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  background: #e7e7e7;
  box-shadow: 0 2px 8px rgba(0,0,0,0.09);
}

.officer-name {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.meet,.officer-grid{

  animation: fadeInDown 0.75s ease forwards;

}

@media (max-width: 1100px) {
  .officer-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .officer-grid {
      grid-template-columns: 1fr;
  }
  .officer-card {
      max-width: 75vw;
  }

  .meet{

    font-size: 2.8rem; 

  }

  .officer-name{

font-size: 2rem; 

  }

  .officer-role{

    font-size: 2.5rem; 

  }

  .officer-pic{

    width: 300px; 
    height: 180px; 

  }
}



