/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(149, 49, 49);
}

.main-content {
  flex: 1;
}

/* Footer */
footer.copyright-laws {
  background: rgb(153, 36, 36);
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 1em;
  margin-top: 10px;
}

/* Top Row */
.toprow-div {
  background-color: rgb(170, 46, 46);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.toprow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.right, .left {
  flex: 1;
  min-width: 180px;
}

.right {
  margin-left: 15px;
}

.right p {
  color: white;
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.middle {
  flex: 0 1 auto;
  text-align: center;
}

.middle a {
  text-decoration: none;
  color: inherit;
}

.middle p {
  font-size: 80px;
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.left {
  margin-right: 15px;
}

.right-side {
  display: flex;
  justify-content: right;
}

.insta,
.example,
.xlogo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/* Animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-effect {
  opacity: 0;
  animation: fadeInDown 1.0s ease forwards;
  animation-delay: 0.1s;
}








